<nav id="push"></nav>
<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <nav>
            <ul>
                <!-- <li><%= link_to "About", '#' %></li> -->
                <!-- <li><%= link_to "Fee Guide", '#' %></li> -->
                <ul><%= link_to "Contact Us", "#" %></ul>
                <ul><%= link_to "Terms of Use", "#" %></ul>
                <ul><%= link_to "Privacy Policy", "#" %></ul>
                <ul><%= link_to "How it Works ?", "#" %></ul>
            </ul>
        </nav>
    </div>
</footer>
